/* ! section.index */
section.index{width: 70%; margin: 0 auto; text-align: center;}
section.index div{
    margin-top: 70px;
}
section.index h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}
/* ! div.PopularTravel */
/* Popular Travel img */
section.index div.PopularTravel > ul li:nth-child(1) a{background-image: url(../img/Seoul.jpg);}
section.index div.PopularTravel > ul li:nth-child(2) a{background-image: url(../img/Busan.jpg);}
section.index div.PopularTravel > ul li:nth-child(3) a{background-image: url(../img/Jeju.jpg);}
section.index div.PopularTravel > ul li:nth-child(4) a{background-image: url(../img/Gangneung.jpg);}
section.index div.PopularTravel ul:nth-last-child(2) li:nth-child(1) a{background-image: url(../img/Gunsan.jpg);}
section.index div.PopularTravel ul:nth-last-child(2) li:nth-child(2) a{background-image: url(../img/Gyeongju.jpg);}
section.index div.PopularTravel ul:nth-last-child(2) li:nth-child(3) a{background-image: url(../img/Incheon.jpg);}
section.index div.PopularTravel ul:nth-last-child(2) li:nth-child(4) a{background-image: url(../img/Suwon.jpg);}
section.index div.PopularTravel ul:last-child li:nth-child(1) a{background-image: url(../img/Pohang.jpg);}
section.index div.PopularTravel ul:last-child li:nth-child(2) a{background-image: url(../img/Ulsan.jpg);}
section.index div.PopularTravel ul:last-child li:nth-child(3) a{background-image: url(../img/Daegu.jpg);}
section.index div.PopularTravel ul:last-child li:nth-child(4) a{background-image: url(../img/Jeonju.jpg);}

section.index div.PopularTravel ul::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both;
}
section.index div.PopularTravel ul{
    width: 100%;
  }
section.index div.PopularTravel ul li{
    float: left;
    width: 22%;
    height: 270px;
    margin-right: 4%;
    margin-bottom: 30px;

}section.index div.PopularTravel ul li:last-child{
    margin-right: 0;
}
section.index div.PopularTravel ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section.index div.PopularTravel ul li a span{
    display: block;
    margin-top: 80%;
    color: white;
}

/* ! div.uList */
section.index div.uList ul{
    margin-bottom: 30px;
}
section.index div.uList ul li{
    display: inline-block;
    padding-right: 20px;
}
section.index div.uList ul li a > img{
    width: 100%;
}

/* ! a.indexBtn */
section.index a.indexBtn{
    display: inline-block;
    background-color: #3bd3b5;
    border-radius: 5px;
    width: 200px;
    color: white;
    line-height: 40px;
    text-align: center;
}

/* ! div.TripMomet */
section.index div.TripMoment ul li{
    margin: 0;
}
section.index div.TripMoment ul li:last-child{
    padding: 0;
}

/* ! div.routeMain */
div.routeMain {
    margin-top: 10px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

div.routeMain h1{
    font-size: 24px;
    font-weight: 900;
    margin: 20px 0 20px;
}

div.routeMain .mapImg {
    padding: 50px;
    position: static;
}

/* ! button.recommendation */
button.recommendation {
    width: 300px;
    height: 50px;
    color: #fff;
    background: #3bd3b5;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(59, 211, 181, 0.3);
    transition: 0.3s;
    margin-top: 20px;
}

button.recommendation:focus {
    outline: 0;
}

button.recommendation:hover {
    background: rgba(59, 211, 181, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(59, 211, 181, 0.6);
}

/* ! h1.ask */
h1.ask{
    font-size: 24px;
    font-weight: 900;
    margin: 20px 0 50px;
}
/* ! div.choice */
div.choice{
    max-width: 1000px;
    text-align: center;
    margin: 100px auto 300px;
}

div.choice div.routeContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 칸 */
    gap: 20px; /* 버튼 사이의 간격 */
    justify-items: center; /* 버튼을 수평 중앙에 정렬 */
}

div.choice div.routeContainer button.select{
    width: 200px;
    height: 50px;
    color: #000;
    font-size: 16px;
    background: #fff;
    border: #3bd3b5;
    border-style: solid;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px;
}

div.choice div.routeStyle{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 한 줄에 3개의 칸 */
    gap: 20px; /* 버튼 사이의 간격 */
    justify-items: center; /* 버튼을 수평 중앙에 정렬 */
}

/* ! div.choiceResult */
div.choiceResult{
    text-align: center;
}

div.choiceResult button.retry{
    display: inline-block; /* 인라인 블록 요소로 변경 */
    margin: 30px auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
}