/* ! section.index */
section.index{width: 70%; margin: 0 auto; text-align: center;}
section.index h2{
    font-size: 30px;
    font-weight: 700;
    margin: 50px 0;
}

/* ! div.PopularTravel */
/* Popular Travel img */
section.index div.PopularTravel > ul li:nth-child(1) a{background-image: url(../img/Seoul.jpg);}
section.index div.PopularTravel > ul li:nth-child(2) a{background-image: url(../img/Busan.jpg);}
section.index div.PopularTravel > ul li:nth-child(3) a{background-image: url(../img/Jeju.jpg);}
section.index div.PopularTravel > ul li:nth-child(4) a{background-image: url(../img/Gangneung.jpg);}
section.index div.PopularTravel ul:nth-last-child(2) li:nth-child(1) a{background-image: url(../img/Gunsan.jpg);}
section.index div.PopularTravel ul:nth-last-child(2) li:nth-child(2) a{background-image: url(../img/Gyeongju.jpg);}
section.index div.PopularTravel ul:nth-last-child(2) li:nth-child(3) a{background-image: url(../img/Incheon.jpg);}
section.index div.PopularTravel ul:nth-last-child(2) li:nth-child(4) a{background-image: url(../img/Suwon.jpg);}
section.index div.PopularTravel ul:last-child li:nth-child(1) a{background-image: url(../img/Pohang.jpg);}
section.index div.PopularTravel ul:last-child li:nth-child(2) a{background-image: url(../img/Ulsan.jpg);}
section.index div.PopularTravel ul:last-child li:nth-child(3) a{background-image: url(../img/Daegu.jpg);}
section.index div.PopularTravel ul:last-child li:nth-child(4) a{background-image: url(../img/Jeonju.jpg);}

section.index div.PopularTravel ul::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both;
}
section.index div.PopularTravel ul{
    width: 100%;
  }
section.index div.PopularTravel ul li{
    float: left;
    width: 22%;
    height: 270px;
    margin-right: 4%;
    margin-bottom: 30px;

}
section.index div.PopularTravel ul li:last-child{
    margin-right: 0;
}
section.index div.PopularTravel ul li:hover{
    transform: scale(1.1);
}

section.index div.PopularTravel ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section.index div.PopularTravel ul li a span{
    display: block;
    margin-top: 80%;
    color: white;
}

/* ! div.uList */
div.uList ul{
    margin-bottom: 30px;
}
div.uList ul li{
    display: inline-block;
    padding-right: 20px;
}
div.uList ul li a > img{
    width: 100%;
    margin-bottom: 10px;
}

/* ! div.like */
div.like{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
}

div.like span img{
    width: 20px;
    height: auto;
}

/* ! a.indexBtn */
section.index a.indexBtn{
    display: inline-block;
    background-color: #3bd3b5;
    border-radius: 5px;
    width: 200px;
    color: white;
    line-height: 40px;
    text-align: center;
}

/* ! div.TripMomet */
section.index div.TripMoment ul li{
    margin: 0;
}
section.index div.TripMoment ul li:last-child{
    padding: 0;
}

/* ! div.routeMain */
div.routeMain {
    margin-top: 10px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

div.routeMain h1{
    font-size: 24px;
    font-weight: 900;
    margin: 20px 0 20px;
}

div.routeMain .mapImg {
    padding: 50px;
    position: static;
}

/* ! #map */
#map{
    height: 400px;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* ! button.recommendation */
button.recommendation {
    width: 300px;
    height: 50px;
    color: #fff;
    background: #3bd3b5;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(59, 211, 181, 0.3);
    transition: 0.3s;
    margin-top: 20px;
}

button.recommendation:focus {
    outline: 0;
}

button.recommendation:hover {
    background: rgba(59, 211, 181, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(59, 211, 181, 0.6);
}

/* ! h1.ask */
h1.ask{
    font-size: 24px;
    font-weight: 900;
    margin: 20px 0 50px;
}

/* ! div.choice */
div.choice{
    max-width: 1000px;
    text-align: center;
    margin: 100px auto 300px;
}

div.choice div.routeContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 칸 */
    gap: 20px; /* 버튼 사이의 간격 */
    justify-items: center; /* 버튼을 수평 중앙에 정렬 */
}

div.choice div.routeContainer button.select{
    width: 200px;
    height: 50px;
    color: #000;
    font-size: 16px;
    background: #fff;
    border: #3bd3b5;
    border-style: solid;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px;
}

div.choice div.routeStyle{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 한 줄에 3개의 칸 */
    gap: 20px; /* 버튼 사이의 간격 */
    justify-items: center; /* 버튼을 수평 중앙에 정렬 */
}

/* ! div.choiceResult */
div.choiceResult{
    max-width: 70%;
    text-align: center;
    margin: 0 auto;
}

div.choiceResult button.retry{
    display: inline-block; /* 인라인 블록 요소로 변경 */
    margin: 30px auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
}
/* ! div.day-buttons */
div.day-buttons{
    text-align: left;
}

div.choiceResult button.day{
    width: 100px;
    border-radius: 10px;
    background-color: white;
    line-height: 30px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 30px;
    border: 1px solid lightgray;
}
div.choiceResult button.day:hover{
    background-color: #3bd3b5;
}
div.choiceResult button.day:last-child{
    margin-right: none;
}

div.choiceResult div.resultList{
    text-align: left;
}

div.choiceResult div.resultList ol#store-list{
    counter-reset: list-counter;
    padding-left: 0;
}

div.choiceResult div.resultList ol#store-list li{
    position: relative;
    padding: 20px 10px;
    border: solid 1px lightgray;
    line-height: 20px;
    margin-bottom: 20px;
}
div.choiceResult div.resultList ol#store-list li::before {
    counter-increment: list-counter;
        content: counter(list-counter); /* 숫자만 표시 */
        position: absolute;
        left: -2.5em; /* li의 왼쪽 밖에 번호 위치 */
        top: 50%;
        transform: translateY(-50%); /* 번호를 세로로 중앙 정렬 */
        background-color: #3bd3b5; /* 배경색 설정 */
        border: 1px solid lightgray; /* 보더 설정 */
        border-radius: 50%; /* 둥근 테두리 */
        width: 1.5em; /* 번호 크기 */
        height: 1.5em; /* 번호 크기 */
        display: flex;
        color: white;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        text-align: center;
}
/* div.choiceResult div.resultList ol#store-list li:nth-child(2n+1)::before{
    background-color: red;
} */

div.choiceResult div.resultList ol#store-list li a span{
    display: block;
}

/* ! div.trip */
div.trip {
    width: 70%;
    margin: 0 auto;
}

div.trip h1 {
    width: 50%;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    margin: 0 auto 30px;
}
div.trip h1:first-child::after {
    content: '';
    visibility: hidden;
    display: block;
    clear: both;
}
div.trip h1:first-child{
    margin: 20px auto 50px;
    font-size: 45px;
    font-weight: 900;
}

div.trip a.posting {
    float: right;
    width: 100px;
    background-color: #3bd3b5;
    color: white;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
}

div.trip div.uList{
    text-align: center;
}

/* ! .dropbtn */
.dropbtn {
    width: 100px;
    font-size: 16px;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 30px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); /* 그림자 */
    z-index: 1;
}

.dropBtn:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.arrow {
    font-size: 12px;
    vertical-align: middle;
}

/* ! div.locatoionDetail */
div.locationDetail a button{
    cursor: pointer;
}

div.locationDetail nav.selectList{
    width: 70%; 
    margin: 100px auto;
}

div.locationDetail nav.selectList ul{
    display: flex; /* flexbox 사용 */
    flex-wrap: wrap; /* 자식 요소가 넘칠 때 줄 바꿈 */
    justify-content: center; /* 자식 요소들을 가운데 정렬 */
}
div.locationDetail nav.selectList ul::after{
    content: "";
    visibility: hidden;
    display: block;
    clear: both;
}

div.locationDetail nav.selectList ul li{
    float: left;
    margin-right: 50px;
}
div.locationDetail nav.selectList ul li:last-child{
    margin: 0;
}

div.locationDetail nav.selectList ul li:nth-child(1) a{ background-image: url(../img/sightseeing.png);  }
div.locationDetail nav.selectList ul li:nth-child(2) a{ background-image: url(../img/restaurant.png);  }
div.locationDetail nav.selectList ul li:nth-child(3) a{ background-image: url(../img/cafe.png);  }
div.locationDetail nav.selectList ul li:nth-child(4) a{ background-image: url(../img/attraction.png);  }
div.locationDetail nav.selectList ul li a{
    display: block; 
    width: 100px; 
    height: 100px; 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    text-align: center; 
    font-weight: 700;
    padding-top: 120px;
    box-sizing: border-box; 
}

div.locationDetail div.localDescription{
    width: 70%;
    margin: 0 auto 50px;
}

div.locationDetail div.localDescription ul{
    display: flex;
    flex-direction: row;
}
div.locationDetail div.localDescription ul li{
    width: 30%;
}
div.locationDetail div.localDescription ul li:first-child{
    width: 70%;
}

/* ! LogMoment */

div.locationDetail div.LogMoment{
    width: 70%;
    margin: 0 auto;
}

div.locationDetail div.LogMoment ul{
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

div.locationDetail div.LogMoment ul li{
    max-width: 200px;
    border-radius: 10px;
    border: 1px solid lightgray;
    margin-right: 30px;
}
div.locationDetail div.LogMoment ul li:not(:first-child):hover{
    transform: scale(1.1);
}
div.locationDetail div.LogMoment ul li.LogMoment{
    width: 150px;
    padding: 200px 0 20px;
    background-color: lightgray;
    font-size: 20px;
    font-weight: 700;
}

div.locationDetail div.LogMoment ul li p{
    line-height: 20px;
}

div.locationDetail div.LogMoment ul li.LogMoment h1{
    margin-bottom: 10px;
}

div.locationDetail div.LogMoment ul li.LogMoment a button{
    background-color: gray;
    border: none;
    color: white;
    line-height: 30px;
    width: 70px;
    border-radius: 10px;
}

div.locationDetail div.LogMoment ul li a > img{
    border-radius: 10px;
    margin-bottom: 20px;
}

/* ! div.posting */
div.posting{
    width: 70%;
    margin: 0 auto;
}

div.posting h1{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* ! div.postingOption */
div.postingOption > span{
    display: inline-block;
    margin-bottom: 10px;
}

div.posting div.imgSelect {
    height: 400px;
    display: flex;
    padding: 10px;
    border: #ccc dashed 2px;
    margin-bottom: 20px;
}

div.posting form.inputImg {
    margin-right: 20px;
}

div.posting form.inputImg input{
    display: none;
}

div.posting form.inputImg label{
    width: 100px;
    cursor: pointer;
    background-color: #3bd3b5;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    display: block;
    line-height: 30px;
    text-align: center;
}

div.posting div.addImage {
    width: calc(150px * 5 + 40px);
    height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

div.posting a.posting{
    display: block;
    width: 100px;
    background-color: #3bd3b5;
    color: white;
    border-radius: 5px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}

/* ! div.travelLogP */
div.travelLogP p{
    margin: 10px 0;
    margin-top: 20px;
    font-size: 16px;
}

div.travelLogP input[type="text"]{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
}

/* ! div.editor */
div.editor{
    min-height: 200px;
    border: 1px solid #ccc;
    text-align: center;
    outline: none;
    padding: 10px;
    margin: 20px 0;
}

/* ! div.write */
div.write p{
    font-size: 20px;
    margin-bottom: 10px;
}

div.write input{
    margin-bottom: 20px;
    display: block;
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

div.write textarea{
    font-size: 16px;
    width: 100%;
    padding: 10px;
    resize: none;
    outline: none;
    margin-bottom: 20px;
}

/* ! customerService */
section.customerService{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

section.customerService h1{ 
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 30px;
}

section.customerService ul li{
    font-size: 20px;
    line-height: 50px;
    border: dashed 2px #ccc;
    margin-bottom: 10px;
}

.question {
    cursor: pointer;
    font-weight: 700;
}

input[type="radio"] {
    display: none; 
}

.answer {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.3s ease, margin 0.3s ease; 
}

input[type="radio"]:checked + .question{
    display: block;
    background-color: lightgray;
}

input[type="radio"]:checked + .question + .answer {
    max-height: 100px;
}

/* ! div.findRoute */
div.findRoute{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.findRoute h1{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 30px;
}

div.findRoute input{
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

div.findRoute a{
    display: block;
    width: 100px;
    line-height: 30px;
    font-size: 16px;
    margin: 10px auto;
    background-color: #3bd3b5;
    border-radius: 5px;
    color: #fff;
}

/* ! section.myPage*/
section.myPage{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

section.myPage h2{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    padding-top: 15px;
    border-top: 2px solid #ccc;
}

section.myPage h3{
    font-size: 16px;
    margin-bottom: 15px;
}

/* ! .userID */
.userID{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin: 10px 0;
}

/* ! section.travelLogD */
section.travelLogD{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
