/* ! section */
section{width: 70%; margin: 0 auto;}
section div{
    margin-top: 70px;
}
/* Popular Travel img */
section div.PopularTravel > ul li:nth-child(1) a{background-image: url(../img/Seoul.jpg);}
section div.PopularTravel > ul li:nth-child(2) a{background-image: url(../img/Busan.jpg);}
section div.PopularTravel > ul li:nth-child(3) a{background-image: url(../img/Jeju.jpg);}
section div.PopularTravel > ul li:nth-child(4) a{background-image: url(../img/Gangneung.jpg);}
section div.PopularTravel ul:nth-last-child(2) li:nth-child(1) a{background-image: url(../img/Gunsan.jpg);}
section div.PopularTravel ul:nth-last-child(2) li:nth-child(2) a{background-image: url(../img/Gyeongju.jpg);}
section div.PopularTravel ul:nth-last-child(2) li:nth-child(3) a{background-image: url(../img/Incheon.jpg);}
section div.PopularTravel ul:nth-last-child(2) li:nth-child(4) a{background-image: url(../img/Suwon.jpg);}
section div.PopularTravel ul:last-child li:nth-child(1) a{background-image: url(../img/Pohang.jpg);}
section div.PopularTravel ul:last-child li:nth-child(2) a{background-image: url(../img/Ulsan.jpg);}
section div.PopularTravel ul:last-child li:nth-child(3) a{background-image: url(../img/Daegu.jpg);}
section div.PopularTravel ul:last-child li:nth-child(4) a{background-image: url(../img/Jeonju.jpg);}

section h2{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}
section div.PopularTravel ul::after {
    content: "";
    visibility: hidden;
    display: block;
    clear: both;
}
  section div.PopularTravel ul{
    width: 100%;
  }
section div.PopularTravel ul li{
    float: left;
    width: 22%;
    height: 270px;
    margin-right: 4%;
    margin-bottom: 30px;

}section div.PopularTravel ul li:last-child{
    margin-right: 0;
}
section div.PopularTravel ul li a{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 24px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section div.PopularTravel ul li a span{
    display: block;
    margin-top: 80%;
    text-align: center;
    color: white;
}