a {
    text-decoration: none;
}
/* ! global */
header nav ul {
    margin-top: 30px;
    padding: 0;
}

header nav ul::after {
    content: '';
    display: block;
    overflow: hidden;
    clear: both;
}

header nav ul li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    text-align: center;
    line-height: 60px;
    display: flex;
    align-items: center;
}

header nav ul li h1 {
    margin: 0;
}

header nav ul li h1 a img {
    width: 120px;
    height: 60px;
}

header nav ul li:nth-last-child(2) {
    float: right;
}

header nav ul li:last-child {
    float: right;
}

header nav ul li a {
    color: #606060;
    font-size: 18px;
    font-weight: 700;
    margin-left: 20px;
}

/* ! div.routeMain */
div.routeMain {
    margin-top: 10px;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

div.routeMain .mapImg {
    padding: 50px;
    position: static;
}

/* ! button.recommendation */
button.recommendation {
    width: 300px;
    height: 50px;
    color: #fff;
    background: #3bd3b5;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(59, 211, 181, 0.3);
    transition: 0.3s;
    margin-top: 20px;
}

button.recommendation:focus {
    outline: 0;
}

button.recommendation:hover {
    background: rgba(59, 211, 181, 0.9);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(59, 211, 181, 0.6);
}

/* ! div.choice */
div.choice{
    margin-top: 10px;
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

div.choice h1{
    margin-bottom: 100px;
}

div.choice div.routeContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개의 칸 */
    gap: 20px; /* 버튼 사이의 간격 */
    justify-items: center; /* 버튼을 수평 중앙에 정렬 */
}

div.choice div.routeContainer button.select{
    width: 200px;
    height: 50px;
    color: #000;
    font-size: 16px;
    background: #fff;
    border: #3bd3b5;
    border-style: solid;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    margin: 5px;
}

div.choice div.routeStyle{
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 한 줄에 3개의 칸 */
    gap: 20px; /* 버튼 사이의 간격 */
    justify-items: center; /* 버튼을 수평 중앙에 정렬 */
}

/* ! div.choiceResult */
div.choiceResult{
    text-align: center;
}

div.choiceResult button.retry{
    display: inline-block; /* 인라인 블록 요소로 변경 */
    margin: 30px auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
}